
<div>
  <button class="btn btn-outline-success mx-2 my-sm-0">Add product</button>
</div>
<table class="table table-striped">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Kategoria</th>
    <th scope="col">Akcje</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>
      {{ product.id }}
    </td>
    <td>
      {{ product.name }}
    </td>
    <td>
      {{ product.category.name }}
    </td>
    <td>
      <button class="btn btn-outline-success mx-2 my-sm-0">Delete</button>
      <button class="btn btn-outline-success mx-2 my-sm-0">Edit</button>
    </td>
  </tr>
</table>
