
<div>
  <button class="btn btn-outline-success mx-2 mb-3 my-3">Add product</button>
</div>
<table class="table table-striped">
  <tr class="text-center">
    <th scope="col">Id</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Kategoria</th>
    <th class="text-left" scope="col">Akcje</th>
  </tr>
  <tr *ngFor="let product of products">
    <td class="text-center">
      {{ product.id }}
    </td>
    <td class="text-center">
      {{ product.name }}
    </td>
    <td class="text-center">
      {{ product.category.name }}
    </td>
    <td>
      <button class="btn btn-outline-success mx-2 my-sm-0">Delete</button>
      <button class="btn btn-outline-success mx-2 my-sm-0">Edit</button>
    </td>
  </tr>
</table>
