<body class="bodyBackground">
<form class="mainFormStyle">
  <div class="mainContainer">
    <table>
      <tr class="form-field">
        <td><b>First name : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.firstName" name="firstName"
                   placeholder="First Name"></td>
      </tr>
      <tr class="form-field">
        <td><b>Last name : </b></td>
        <td>
          <input class="form-control" type="text" readonly="true" [(ngModel)]="userData.lastName" name="lastName"
                 placeholder="Last Name">
        </td>
      </tr>
      <tr class="form-field">
        <td><b>Address line : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.addressLine"
                   name="addressLine"
                   placeholder="Address line">
        </td>
      </tr>
      <tr class="form-field">
        <td><b>City : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.city" name="city"
                   placeholder="City"></td>
      </tr>
      <tr class="form-field">
        <td><b>Country : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.country" name="country"
                   placeholder="Country"></td>
      </tr>
      <tr class="form-field">
        <td><b>Zip code : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.zipCode" name="zipCode"
                   placeholder="Zip code"></td>
      </tr>
      <tr class="form-field">
        <td><b>Phone Number : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.phoneNumber"
                   name="phoneNumber"
                   placeholder="Phone number"></td>
      </tr>
      <tr class="form-field">
        <td><b>Email : </b></td>
        <td><input class="form-control" type="text" readonly="true" [(ngModel)]="userData.email" name="email"
                   placeholder="Email">
        </td>
      </tr>
      <tr class="form-field">
        <td><b>Password : </b></td>
        <td><input class="form-control" type="password" readonly="true" [(ngModel)]="userData.password" name="password"
                   placeholder="Password"
                   required="required"></td>
      </tr>
    </table>
  </div>
</form>
<div class="buttonContainer">
  <button class="myButton" type="submit" routerLink="/home">Go back to homepage</button>
</div>
<div class="buttonContainer" *ngIf="!checkIfAdmin()">
  <button class="myButton" type="submit" [routerLink]="['/', 'user-panel','edit',userData.id]">Edit your data
  </button>
</div>
</body>
