/*general*/
* {
  font-family: "Monotype Corsiva";
  font-size: 25px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: seashell;
}
tr:nth-child(odd) {
  background-color: antiquewhite;
}

th {
  background-color: #bd8b5d;
  color: white;
}

a {
  color: #0f030f;
}

.addProductForm {
  position:fixed;
}

.bodyBackground {
  position: absolute;
  background: url('../../src/assets/images/page_background.png') no-repeat fixed center rgba(255, 255, 255, 1);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}

.menuMargins {
  margin-right: 447px;
  margin-left: 40px;
  float: left;
}

.userMessages {
  margin-top: 20px;
}

.failureWarning {
  margin-top: 20px;
  color: red;
}

.welcomeText {
  position: relative;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: black;
}

.addressCard {
  position: relative;
  font-size: 25px;
  color: black;
}

.mainFormStyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: white;
  border-style: double;
  border-color: #0f030f;
  width: 480px;
}

/*containers*/

.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 650px;
  height: 100%;
  position: center;
}


.mainContainer {
  width: 100%;
  height: 100%;
}

.container .product {
  width: 670px;
  height: 300px;
  display: flex;
  margin: 1em 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
  transition: all .1s ease-in-out;
}

.container .product:hover {
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
}

.container .product .img-container {
  flex: 2;
}

.container .product .img-container img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.container .product .product-info {
  background: #fff;
  flex: 3;
}

.container .product .product-info .product-content {
  padding: .2em 0 .2em 1em;
}

.container .product .product-info .product-content h1 {
  font-size: 1.5em;
}

.container .product .product-info .product-content p {
  color: #636363;
  font-size: .9em;
  font-weight: bold;
  width: 90%;
}

.container .product .product-info .product-content ul li {
  color: #636363;
  font-size: .9em;
  margin-left: 0;
}

.container .product .product-info .product-content .buttons {
  padding-top: .4em;
}

.container .product .product-info .product-content .buttons .button {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
  padding: .3em .65em;
  border-radius: 2.3px;
  transition: all .1s ease-in-out;
}

.container .product .product-info .product-content .buttons .add {
  border: 1px #5e5e5e solid;
}

.container .product .product-info .product-content .buttons .add:hover {
  border-color: #6997b6;
  color: #6997b6;
}

.container .product .product-info .product-content .buttons .buy {
  border: 1px #5e5e5e solid;
}

.container .product .product-info .product-content .buttons .buy:hover {
  border-color: #6997b6;
  color: #6997b6;
}

.container .product .product-info .product-content .buttons #price {
  margin-left: 4em;
  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: rgba(137, 137, 137, 0.04);
}

/*navbar buttons*/

.navLoggedUser {
  margin-top: 13px;
  margin-right: 20px;
}

.cartBtnDiv {
  margin-left: 10px;
}

.input-quantity {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
  padding: .3em .65em;
  border-radius: 2.3px;
  transition: all .1s ease-in-out;
}

/*buttons*/


.myButton {
  -moz-box-shadow: 3px 4px 0px 0px #7a6563;
  -webkit-box-shadow: 3px 4px 0px 0px #7a6563;
  box-shadow: 3px 4px 0px 0px #7a6563;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0dcc8), color-stop(1, #bd8b5d));
  background: -moz-linear-gradient(top, #f0dcc8 5%, #bd8b5d 100%);
  background: -webkit-linear-gradient(top, #f0dcc8 5%, #bd8b5d 100%);
  background: -o-linear-gradient(top, #f0dcc8 5%, #bd8b5d 100%);
  background: -ms-linear-gradient(top, #f0dcc8 5%, #bd8b5d 100%);
  background: linear-gradient(to bottom, #f0dcc8 5%, #bd8b5d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0dcc8', endColorstr='#bd8b5d', GradientType=0);
  background-color: #f0dcc8;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #b89a7f;
  display: inline-block;
  cursor: pointer;
  color: #0f030f;
  font-size: 25px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  margin: 5px 5px 5px 5px;
  position: center;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd8b5d), color-stop(1, #f0dcc8));
  background: -moz-linear-gradient(top, #bd8b5d 5%, #f0dcc8 100%);
  background: -webkit-linear-gradient(top, #bd8b5d 5%, #f0dcc8 100%);
  background: -o-linear-gradient(top, #bd8b5d 5%, #f0dcc8 100%);
  background: -ms-linear-gradient(top, #bd8b5d 5%, #f0dcc8 100%);
  background: linear-gradient(to bottom, #bd8b5d 5%, #f0dcc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd8b5d', endColorstr='#f0dcc8', GradientType=0);
  background-color: #bd8b5d;
}

.myButton:active {
  position: relative;
  top: 1px;
}
