<div class="menuMargins">
  <button class="myButton" (click)="back()">Go back</button>
  <div class="orderContainer" *ngFor="let order of orders">
      <div>Ordered on: {{this.convertDate(order.orderPlaceTime)}}</div>
      <div>Delivered to: {{order.deliveryAddress.street}}, {{order.deliveryAddress.zipCode}}, {{order.deliveryAddress.city}}</div>
      <div class="centerDiv"><img src="./../../../assets/images/line.png"></div>
      <div>Ordered items:</div>
      <div *ngFor="let orderElement of order.orderElements, let index=index">
          <div class="orderElement">{{index+1}}. {{orderElement.quantity}} x {{orderElement.product.name}}</div>
        <div>{{this.sumUp(orderElement.quantity, orderElement.product.price)}}</div>
      </div>
    <div class="sumBorder">Total price: {{this.sum}}$</div>
    <div>{{this.clearSum()}}</div>
      </div>
</div>
