<div *ngIf="isLoggedIn()">
  <p>You are already logged in</p>
</div>
<div *ngIf="!isLoggedIn()">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="userData.email" name="email" placeholder="Email">
    <div>
      <input class="form-control mr-sm-2" type="password" [(ngModel)]="userData.password" name="password"
             placeholder="Password">
    </div>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" (click)="logIn()">Sign in</button>
  </form>
  <div>
    <p class="userMessages"> Aren't you registered user yet? Sign up by pressing the button below.</p>
  </div>
  <div>
    <button routerLink="/register" class="btn btn-outline-success my-2 my-sm-0">Sign up</button>
  </div>
</div>
