<body class="bodyBackground">
<div>
  <button type="button" class="myButton" (click)="back()">Go back
  </button>
</div>
<table>
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Actions</th>

  </tr>
  <tr *ngFor="let user of users; let rowIndex = index">
    <td>{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>
      <button class="myButton" type="submit"
              [routerLink]="['/', 'admin-panel','users','edit',user.id]">Edit
      </button>
      <button class="myButton" (click)="removeUser(user.id, rowIndex)">
        Delete
      </button>
      <button class="myButton" type="submit" routerLink="/admin-panel">Send msg</button>
    </td>
  </tr>
</table>
</body>
