<body class="bodyBackground">
<app-product-categories></app-product-categories>
<div class="container" *ngFor="let product of productsByCategory">
  <div class="product">
    <div class="img-container">
      <img
        src="./../../../../assets/images/dish.png">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <p>Price: {{product.price}} $</p>
        <div *ngIf="checkOnlineStatus()">
          <p>Quantity:
            <button type="button" class="btn btn-danger" (click)="minusQuantity(product)">-</button>
            <input type="number" class="input-quantity" [readOnly]="true" [(ngModel)]="product.count"/>
            <button type="button" class="btn btn-success" (click)="plusQuantity(product)">+</button>
          </p>
          <div class="buttons">
            <a class="button add" (click)="addToCart(product)">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
