<body class="bodyBackground">
<div class="container" *ngFor="let item of items;  let rowIndex = index">
  <div class="product">
    <div class="img-container">
      <img
        src="./../../../../assets/images/dish.png">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>{{item.product.name}}</h1>
        <p>{{item.product.description}}</p>
        <p>Price: {{item.product.price}} $</p>
        <p>Quantity: {{item.quantity}}</p>
        <div class="buttons">
          <a class="button add" (click)="removeProduct(rowIndex)">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!ifEmpty() && !this.cartIsEmpty; else empty">
  <button class="myButton" (click)="placeOrder()">Place order</button>
</div>
<ng-template #empty>
<p>Your cart is currently empty.</p>
</ng-template>
</body>
