<div class="container" *ngFor="let item of items">
  <div class="product">
    <div class="img-container">
      <img
        src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?dpr=1&auto=compress,format&fit=crop&w=1400&h=&q=80&cs=tinysrgb&crop=">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>{{item.name}}</h1>
        <p>{{item.description}}</p>
        <div class="buttons">
          <a class="button add" href="#">Remove</a>
          <span class="button" id="price">$59,99</span>
        </div>
      </div>
    </div>
  </div>
</div>
