<div style="min-width: 200px; max-width: 300px">
  <div role="navigation" class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-3">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-panel/account">Account info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-panel/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-panel/products">Products</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
